$border-radius: 1.5rem;
$border-size:  0.625rem;

$spacing: 1rem;

$margin-small: $spacing;
$margin-normal: calc($spacing * 1.25);
$margin-large: calc($spacing * 1.5);

$padding-small: $spacing;
$padding-normal: calc($spacing * 1.25);
$padding-large: calc($spacing * 1.5);